name: Build
on:
  push:
    branches:
      - main
      - 1.*x
      - tmp-*
    tags:
      - v*
  pull_request:

jobs:
  usort:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10"]
        os: [macOS-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set Up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install
        run: |
          python -VV
          python -m pip install --upgrade pip
          python -m pip install -r requirements-dev.txt -r requirements.txt
          python -m pip install -U .
      - name: Test
        run: make test
      - name: Lint
        run: make lint
      - name: Documentation
        run: make html

  check-deps:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10"]
        os: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set Up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install 'pessimist>=0.9.0' 'toml>=0.10.2'
          echo 'importall>=0.2.1' > importall.txt
      - name: Check Deps
        run: |
          python -m pessimist --fast --requirements= -c 'python -m usort --help' .
          python -m pessimist --fast --requirements=importall.txt --fast -c 'importall --root=. usort' .

  backward-compatibility:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set Up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Check backwards compatibility
        shell: bash
        run: |
          python -m pip install -U pip packaging
          make backcompat
